In [1]:
import pandas as pd
import datetime as dt

In [2]:
df=pd.read_csv("./US_Accidents_June20.csv")
df.head(5)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
df.isnull().sum()

ID                             0
Source                         0
TMC                      1034799
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  2478818
End_Lng                  2478818
Distance(mi)                   0
Description                    1
Number                   2262864
Street                         0
Side                           0
City                         112
County                         0
State                          0
Zipcode                     1069
Country                        0
Timezone                    3880
Airport_Code                6758
Weather_Timestamp          43323
Temperature(F)             65732
Wind_Chill(F)            1868249
Humidity(%)                69687
Pressure(in)               55882
Visibility(mi)             75856
Wind_Direction             58874
Wind_Speed(mph)           454609
Precipitation(in)        2025874
Weather_Condition          76138
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               115
Civil_Twilight               115
Nautical_Twilight            115
Astronomical_Twilight        115
dtype: int64

In [15]:
# DF for target 'Severity' and features 'Weather Condition'
df_new=pd.DataFrame(
    data=df,columns=['Severity','Weather_Condition'],index=df.index.copy())
df_new

         Severity Weather_Condition
0               3        Light Rain
1               2        Light Rain
2               2          Overcast
3               3     Mostly Cloudy
4               2     Mostly Cloudy
...           ...               ...
3513612         2              Fair
3513613         2              Fair
3513614         2     Partly Cloudy
3513615         2              Fair
3513616         2              Fair

[3513617 rows x 2 columns]

In [16]:
df_new.isnull().sum()

Severity                 0
Weather_Condition    76138
dtype: int64

In [17]:
df_new=df_new.dropna()

In [18]:
df_new.isnull().sum()

Severity             0
Weather_Condition    0
dtype: int64

In [19]:
df_new

         Severity Weather_Condition
0               3        Light Rain
1               2        Light Rain
2               2          Overcast
3               3     Mostly Cloudy
4               2     Mostly Cloudy
...           ...               ...
3513612         2              Fair
3513613         2              Fair
3513614         2     Partly Cloudy
3513615         2              Fair
3513616         2              Fair

[3437479 rows x 2 columns]

In [24]:
# Replacing Severity level 1 and 2 to 0
df_new=df_new.replace([1,2],0)

In [25]:
# Replacing Severity level 3 and 4 to 1
df_new=df_new.replace([3,4],1)

In [27]:
df_new

         Severity Weather_Condition
0               1        Light Rain
1               0        Light Rain
2               0          Overcast
3               1     Mostly Cloudy
4               0     Mostly Cloudy
...           ...               ...
3513612         0              Fair
3513613         0              Fair
3513614         0     Partly Cloudy
3513615         0              Fair
3513616         0              Fair

[3437479 rows x 2 columns]

In [29]:
# Target
X=df_new['Severity']
X

0          1
1          0
2          0
3          1
4          0
          ..
3513612    0
3513613    0
3513614    0
3513615    0
3513616    0
Name: Severity, Length: 3437479, dtype: int64

In [33]:
# Features
Y=pd.get_dummies(df_new['Weather_Condition'])
Y.head(100)

,Blowing Dust,Blowing Dust / Windy,Blowing Sand,Blowing Snow,Blowing Snow / Windy,Clear,Cloudy,Cloudy / Windy,Drifting Snow,Drizzle,...,Thunder in the Vicinity,Thunderstorm,Thunderstorms and Rain,Thunderstorms and Snow,Tornado,Volcanic Ash,Widespread Dust,Widespread Dust / Windy,Wintry Mix,Wintry Mix / Windy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# Dataframe for target 'Sunrise_Sunset' and feature 'Weather Condition'
df_time=pd.DataFrame(
    data=df,columns=['Sunrise_Sunset','Weather_Condition'],index=df.index.copy())
df_time

        Sunrise_Sunset Weather_Condition
0                Night        Light Rain
1                Night        Light Rain
2                Night          Overcast
3                Night     Mostly Cloudy
4                  Day     Mostly Cloudy
...                ...               ...
3513612            Day              Fair
3513613            Day              Fair
3513614            Day     Partly Cloudy
3513615            Day              Fair
3513616            Day              Fair

[3513617 rows x 2 columns]

In [37]:
df_time.isnull().sum()

Sunrise_Sunset         115
Weather_Condition    76138
dtype: int64

In [40]:
df_time=df_time.dropna()

In [41]:
df_time.isnull().sum()

Sunrise_Sunset       0
Weather_Condition    0
dtype: int64

In [42]:
# Target
A=df_time['Sunrise_Sunset']
A

0          Night
1          Night
2          Night
3          Night
4            Day
           ...
3513612      Day
3513613      Day
3513614      Day
3513615      Day
3513616      Day
Name: Sunrise_Sunset, Length: 3437370, dtype: object

In [43]:
# Features
B=pd.get_dummies(df_time['Weather_Condition'])
B

,Blowing Dust,Blowing Dust / Windy,Blowing Sand,Blowing Snow,Blowing Snow / Windy,Clear,Cloudy,Cloudy / Windy,Drifting Snow,Drizzle,...,Thunder in the Vicinity,Thunderstorm,Thunderstorms and Rain,Thunderstorms and Snow,Tornado,Volcanic Ash,Widespread Dust,Widespread Dust / Windy,Wintry Mix,Wintry Mix / Windy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3513613,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3513614,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3513615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3513616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0